body{
    background-color: cadetblue;
    background-size: 1000px;
    background-image:url(https://pic1.zhimg.com/v2-1b6225e86400f00957bf30434f573302_r.jpg?source=1940ef5c)
    }
hr{
    height: 40px;
    width: 5%;
    border-color: aqua;
    border-width: 10px;
    border-style: dotted none none none;
    }
#tenxun{
    background-color: aquamarine;
}
.ren:hover{
    background-image: url(https://pic1.zhimg.com/v2-1b6225e86400f00957bf30434f573302_r.jpg?source=1940ef5c);
}
